.page-header {
    width: 1600px;
    height: 80px;
    }

.logo {
    width: 145px;
    height: 30px; 
    top: 25px; 
    left: 215px;
}
.studio {
    width: 50px;
    height: 15px;
    top: 30px;
    left: 455px;
}